body {
    background: lightblue;
    height: 1400px;
    width: 1300px;
    padding: 1em;
    position: relative;
    }


.topnav {
    background-color: aqua;
    width:960px;
    height: 30px;
    text-align: center;
  font-size: 20px;
  position:absolute;
  top:0px;
  left: 25%;
  }
    
  .topnav a{
      margin: 10px;
  }
  .topnav a:hover {
    background-color: #555;
    color: red;
  }

  h1 {
      position: absolute;
      top: 5%;
    left: 50%;
    font-size: 50px;
    color: red;
  }
  .img1 {
      position: absolute;
      top: 15%;
      left: 43%;
  }
  .chocolate {
      position: absolute;
      top:40%;
      left: 20%;
      font-size: 30px;
      word-spacing: 16px;
  }
  .chocolatePic {
    position: absolute;
    top:40%;
    left: 40%;
    font-size: 20px;
  }

  .molasses {
    position: absolute;
    top:75%;
    left: 20%;
    font-size: 30px;
    word-spacing: 16px;
}
.molassesPic {
    position: absolute;
    top:75%;
    left: 40%;
    font-size: 20px;
  }

.peanutButter {
    position: absolute;
    top:110%;
    left: 20%;
    font-size: 30px;
    word-spacing: 16px;
}
.peanutPic {
    position: absolute;
    top:110%;
    left: 40%;
    font-size: 20px;
  }
 
.oatmeal {
    position: absolute;
    top:145%;
    left: 20%;
    font-size: 30px;
    word-spacing: 16px;
}
.oatmealPic {
    position: absolute;
    top:145%;
    left: 40%;
    font-size: 20px;
}
.snickerdoodle {
    position: absolute;
    top:180%;
    left: 20%;
    font-size: 30px;
    word-spacing: 16px;
}
.snickerdoodlePic {
    position: absolute;
    top:180%;
    left: 40%;
    font-size: 20px;
  }
  